* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;  
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  width: 800px;
  margin: auto;
}

.note-item {
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 1px solid black;
  position: relative;
  text-align: center;
  word-wrap: break-word;
}

.note-item button {
  position: absolute;
  top: -12px;
  right: -16px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 8px 12px;
}

.textarea {
  position: relative;
  width: 300px;
  height: 100px;
  border: 1px solid black;
}

.textarea textarea {
  resize: none;
  padding: 10px;
  border: none;
  width: 100%;
  
}
.textarea textarea:focus-visible {
  outline: none;
}

.textarea button {
  font-size: 26px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 0 5px;
  position: absolute;
  bottom: 14px;
  right: 10px;
}